exclude *.md *.txt *.yml
exclude *.png
exclude *.py
exclude codecov.yaml
prune azure-pipelines
prune .github
prune docs
# Lets keep the tests - prune edk2toolext/tests
exclude .cspell.json
exclude .flake8
exclude .coveragerc
exclude .gitignore
include edk2toolext/bin/NuGet.exe
include readme.md
include setup.py
