exclude *.md *.txt *.yml
exclude *.png
exclude *.py
exclude codecov.yaml
prune azure-pipelines
prune .github
prune docs
prune tests.unit
prune tests.integration
prune .vscode
prune edk2_pytool_extensions.egg-info
exclude .markdownlint.yaml
exclude .cspell.json
exclude .flake8
exclude .coveragerc
exclude .gitignore
include edk2toolext/bin/NuGet.exe
include readme.md
