pytest == 7.3.0
flake8 == 6.0.0
pydocstyle == 6.3.0
coverage == 7.2.3
pyopenssl == 23.1.1
pefile == 2023.2.7
semantic_version == 2.10.0
GitPython == 3.1.31
pyyaml == 6.0.0
cryptography == 40.0.1
tinydb == 4.7.1
tinyrecord == 0.2.0
joblib == 1.2.0
tabulate == 0.9.0