//
// Include the necessary resources
//
#include <winver.h>
#include <ntdef.h>

#ifdef RC_INVOKED

//
// Set up debug information
//
#if DBG
#define VER_DBG VS_FF_DEBUG
#else
#define VER_DBG 0
#endif

// ------- version info -------------------------------------------------------

VS_VERSION_INFO VERSIONINFO
FILEVERSION             1,0,0,0
PRODUCTVERSION          1,0,0,0
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILEFLAGS               VER_DBG
FILEOS                  VOS_NT
FILETYPE                VFT_DRV
FILESUBTYPE             VFT2_DRV_SYSTEM
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
        BEGIN
		VALUE "Comments",         "OSR Driver"
		VALUE "CompanyName",      "OSR Open Systems Resources, Inc."
		VALUE "FileDescription",  "OSR Driver"
		VALUE "FileVersion",      "V1.0.0.0"
		VALUE "InternalName",     "A OSR Written Driver"
		VALUE "LegalCopyright",   "(C)2011 OSR Open Systems Resources, Inc."
		VALUE "OriginalFilename", "OSRDRV.sys"
		VALUE "ProductName",      "OSR Driver"
		VALUE "ProductVersion",	  "V1.0.0.0"
        END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409,1200
	END
END
#endif