# This workflow Runs CI Tests on the specified directory using the specified
# python version and node version.
#
# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: BSD-2-Clause-Patent

name: Continuous Integration Test Workflow

on:
  workflow_call:
    inputs:
      python-version:
        description: 'Python Version to use for CI'
        required: true
        type: string
      node-version:
        description: 'Node Version to use for CI'
        required: true
        type: string
      package-src:
        description: 'Directory containing package to test'
        required: true
        type: string

jobs:
  run:
    name: Run

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python ${{ inputs.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ inputs.python-version }}
        cache: 'pip'
    
    - name: Install pip Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade -e .[dev,docs]
    
    - name: Set up Node ${{ inputs.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ inputs.node-version }}
    
    - name: Install npm Dependencies
      run: |
        npm install -g markdownlint-cli@0.39.0
        npm install -g cspell@5.20.0
    
    - name: Run ruff linter
      if: success() || failure()
      run: ruff check --output-format=github .

    - name: Run ruff formatter
      if: success() || failure()
      run: ruff format --check .

    - name: Run markdownlint
      if: success() || failure()
      run: markdownlint "**/*.md"
    
    - name: Run cspell
      if: success() || failure()
      run: cspell -c .cspell.json "**/*.py" "**/*.md"
    
    - name: Run mkdocs build
      if: success() || failure()
      run: mkdocs build --strict
    
    - name: Run basic dev tests
      if: success() || failure()
      run: python BasicDevTests.py
