# This workflow builds and deploys documentation on a release.
#
# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: BSD-2-Clause-Patent

name: Doc Deployment

on:
  release:
    types: [published]


jobs:
  build:
    name: Build and Upload Site Artifact
    
    runs-on: ubuntu-latest

    env:
      python-version: "3.11"

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Set up Python ${{ env.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ env.python-version }}
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade -r docs/user/requirements.txt
      
      - name: Build Documentation
        run: |
          mkdocs build --strict
      
      - name: Upload Github Pages Site Artifact
        uses: actions/upload-pages-artifact@v1
        with:
          name: 'github-pages'
          path: "site/"
          
  deploy:
    name: Deploy Site Artifact

    needs: build

    permissions:
      pages: write
      id-token: write

    runs-on: ubuntu-latest

    steps:
    - name: Deploy Github Pages Site
      uses: actions/deploy-pages@v1
      with:
        token: ${{ github.token }}
        artifact_name: 'github-pages'
