# This workflow Runs Unit Tests using the specified python version(s) on
# windows-latest and ubuntu-latest
#
# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: BSD-2-Clause-Patent

on:
  workflow_call:
    inputs:
      python-versions:
        description: 'Python Versions to use for Unit Tests. A Matrix is created from this'
        required: true
        type: string

jobs:
  run:
    name: Run

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        python-version: ${{ fromJson(inputs.python-versions) }}
        os: [ubuntu-latest, windows-latest]
    
    steps:
    - uses: actions/checkout@v5

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    
    - name: Install pip Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade -e .[dev]
    
    - name: Install mono
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y mono-devel
    
    - name: Run Unit Tests
      run: coverage run -m pytest

    - name: Format Coverage results
      run: coverage xml

    - name: Upload coverage to codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
    
    - uses: actions/upload-artifact@v4
      with:
        name: Artifacts-${{matrix.os}}-${{matrix.python-version}}
        path: |
          pytest_report.html
          test.junit.xml
      if: failure()
